In [62]:
import pandas as pd 
import numpy as np

### First part of the puzzle

In [63]:
# Read a txt file where there are two columns, they are separated by 3 spaces
df = pd.read_csv('data/input_day_one.txt', sep='\s{3}', engine='python', header=None)
df.columns = ['left', 'right']
df.head()

    left  right
0  38450  56790
1  94765  36795
2  89694  26251
3  96083  99006
4  57068  30577

In [64]:
# convert each column to a numpy array
left = df['left'].values
right = df['right'].values

In [65]:
# sort each array
left = np.sort(left)
right = np.sort(right)

In [66]:
# substract the right array from the left array
result = left - right
result = np.abs(result)

In [67]:
answer = np.sum(result)
answer

1666427

### Second part of the puzzle

In [68]:
# count how many times does each number in left array appear in the right array
count = []
for i in left:
    count.append(np.sum(right == i))

In [70]:
# convert count to numpy array
count = np.array(count)
# multiply the count array with the left array
result = left * count
answer = np.sum(result)
answer

24316233